* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 8vh;
  background-color: white;
  z-index: 2;
  opacity: 0.9;
}

.nav-logo {
  text-decoration: none;
  color: #1976d2;
  margin-left: 2vw;
  font-family: "Courgette", cursive;
  font-size: 2rem;
}

.navbar {
  display: flex;
  margin-left: auto;
  flex-basis: 50%;
  list-style-type: none;
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
}

.navbar > li {
  flex: 1;
}

.nav-link {
  text-decoration: none;
  color: #636f7b;
}

.nav-link:hover {
  color: #1c2024;
  font-weight: 500;
}

main {
  position: relative;
  top: 8vh;
  margin: 0;
}

.col-button {
  display: none;
  margin: auto 1rem auto auto;
}

.col-navbar {
  display: none;
  position: fixed;
  top: 8vh;
  width: 100%;
  left: 0;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  opacity: 0.9;
  background: white;
  z-index: 2;
  height: 25vh;
}

.col-navbar li {
  padding: 0.5rem 2rem;
  margin: 0px;
}

.col-navbar .active {
  height: 10vh;
}

@media only screen and (max-width: 768px) {
  .col-button {
    display: block;
  }
}

.footer {
  position: relative;
  top: 8vh;
  width: 100%;
  text-align: center;
  border-top: 1px solid hsl(0, 0%, 90%);
  color: #636f7b;
  padding: 1rem;
  font-size: 0.9rem;
  margin: 0;
}
